[2017-05-23 15:34] 24mu13 opened #1 "Use fonts instead of icons"
https://coderwall.com/p/r67dyq/using-font-awesome-with-xe-latex

[2017-05-24 07:33] jankapunkt commented on #1
Potentially agree, but with one exception.
It would be great to have FA (or any other font based icon set) without the need for xetex. A solution that works using pdfLatex is a definite candidate for a merge.
Best, Jan

[2017-05-24 13:28] jankapunkt commented on #1
Merged via #2

[2017-05-24 13:28] #1 closed

[2017-07-21 12:54] jankapunkt opened #3 "Manually install texlive for travis-ci in order to support infographics build using the latext texlive environment"
Branch:
ci_setup

Log:
https://travis-ci.org/jankapunkt/latexcv/builds/256038205

Description:
On a local linux machine, the infographics test script exits with 0 and completes the tests. However, using travis completes all tests but the infographics test. It fails because travis (even on zeisty dist) still uses font spec to build font awesome, which requires either xetex or luatex. But this proje

[2017-11-28 20:39] bhattaomatic opened #4 "Add Institution to timeline entries"
In the timeline, under the command \cvevent param 4 and 5 is not implemented. Will it be possible to get a short description of the event or experience right underneath the event within the timeline.

[2017-11-28 21:11] jankapunkt commented on #4
Thank you for your comment.
Before I can help you, please clarify the following things:
* which cv template (classic, infographic, modern, two_column)
* do you want to know how the cvevent command works (documentation) or did you find a bug (bug) or a missing feature /enhancement)?

[2017-11-29 08:18] bhattaomatic commented on #4
Thank you for the quick response.
Regarding your questions:
     - Currently I am working on the infographic cv template.
     - I figured out how the cvevent works and found out a possible enhancement of which the facility is     already available in the code, just the implementation is not available.

Basically what I am looking for in the timeline is a one line description of the work experienc

[2017-11-29 16:12] jankapunkt commented on #4
Oh yes now I understand. This is a tricky one. I already added the institutions as parameters but left them out after I found it really hard to add them because the entries overlapped when the institution was included. If you find a way to add institutions without overlapping entries I would be grateful to merge this into this project.

[2017-11-29 17:40] bhattaomatic commented on #4
Alright, I will give it a shot. Could you send me some references upon which you based this timeline?

[2017-12-18 23:36] jankapunkt commented on #4
Hi @bhattaomatic I created some contribution guidelines, which also include some info and resources for developers: https://github.com/jankapunkt/latexcv/blob/master/CONTRIBUTING.md

[2018-01-29 08:48] jankapunkt opened #6 "Bonus: Sidebar-CV template"
### In return for the 100 stars, I will implement a new cv-template.

The layout should...

- [x] have a sidebar section
- [x] have a content section
- [x] use a modern lightweight font for headlines
- [ ] use a standard font for text

The sidebar should...

- [x] the sidebar should be swap-able to left or right
- [x] skills section with star icons (fa-star, fa-star-o)
- [x] fields section
- [ ] l

[2018-02-07 11:14] jankapunkt commented on #3
seems to be a missing package: texlive-fonts-extra, will check on that

[2018-02-22 12:45] jankapunkt commented on #3
Found the problem. The travis environment is still not supporting Ubuntu 16.02 but the latest texlive-fonts-extra is required. This can only be installed manually.

[2018-03-12 21:49] jankapunkt commented on #6
implemented for now

[2018-03-12 21:49] #6 closed

[2018-03-19 11:00] jankapunkt commented on #3
Fixed by commit [882137b](https://github.com/jankapunkt/latexcv/commit/882137b637d3309a7bc0164b8c485d8ef94eadc4)

[2018-03-19 11:00] #3 closed

[2018-03-19 11:01] jankapunkt commented on #4
@bhattaomatic still interested in doing a PR for this issue?

[2018-03-20 05:12] bhattaomatic commented on #4
Hi, I am preoccupied a bit with my job but yes I am still interested in this. Just that it is taking longer than I estimated. Hopefully, I will have something worth sharing in the next 15 to 20 days.

[2018-04-16 13:32] jankapunkt commented on #4
@bhattaomatic will close this for now due to missing activity. However, you can reopen at any time if you want to come back to the issue.

[2018-04-17 12:40] sebastian-raubach opened #8 "Multi-line CV event"
Great work on these latex templates! I'm really enjoying working with them.
I do have a minor issue with the modern template though:

Currently, when your "title" of a `\cvevent` (second parameter) is quite long it wraps to the next line, but the header section doesn't adjust.
I could get around this by modifying the `\vspace` between the header and the body, but would prefer a more generic soluti

[2018-04-18 08:53] jankapunkt commented on #8
Thank you, good question. I rather did this to have something that initially worked so it is definitely open to improvements.

I assume you refer to the following part of the table definition [in line 245](https://github.com/jankapunkt/latexcv/blob/master/modern/main.tex#L245): `p{10.8cm}`

I basically use this to format the table columns width rather than it's content layout so a fix may require

[2018-05-03 20:47] remz1337 opened #9 "[infographic] the first legend is higher than the rest"
Hi!

Great work, I love the infographic template.

I just noticed that in the timeline part of the CV, the first item in the legend (Experience) is just a little bit above the two others (Events and Education).

I tried to play with it and fix it but couldn't make it work. Seems like an issue with the enclosing mbox.

I would gladly help you fix it, but I will require some guidance since I am rela

[2018-05-05 14:00] jankapunkt commented on #9
Hi @remz1337

thank you for your issue. You are right this is related to the mbox and the vertical space, beginning with this line: https://github.com/jankapunkt/latexcv/blob/master/infographics/main.tex#L362

I will try on that when I have some time left. If you or anyone else want to pick up on this, fell free to create a PR.

[2018-05-22 21:21] slevin18 commented on #8
Hi @jankapunkt , I think I have the same problem. I would like to show also the other params , not only event name

        %  param 3:  event name
	% param 4:	institution (where did you work / study)
	% param 5:	what was your position

So I want a Big block that can contains the other informations  without overflowing on the right (this is another problem: now, If I write an event name too long,

[2018-09-06 20:52] youssefkaram opened #10 "Having problems with modifying tikz-pgf content"
Hello jankapunkt!

CV looks amazing and very nice.

I am trying to use it for a sponsorship proposal but I'm having trouble with a couple of stuff.

- Trying to add a logo next to the title but it moves everything when I do
- Trying to add a number in the center of the pie chart
- Table is either too small or too big and out of bounds
- Trying to add text next to the fact bubble on the bottom of t

[2018-09-07 06:47] jankapunkt commented on #10
Hello @youssefkaram

the infographics cv has very carefully crafted and took ages to position elements by hand. Changing things can easily break the whole layout, which is why this template is considered to be very complex and time consuming (but rewarding in the end).

Look at the fact bubble:

[code]

Which places the text inside it. The underlying techique to render the circle is similar to the

[2018-09-07 06:48] jankapunkt commented on #9
@remz1337 any improvement on your side here?

[2018-09-07 06:49] jankapunkt commented on #8
@sebastian-raubach @slevin18 any interesting improvements on your sides?

[2018-09-07 12:17] remz1337 commented on #9
no, sorry

Rémi

On Sep 7, 2018, at 02:48, Jan Küster <notifications@github.com<mailto:notifications@github.com>> wrote:

@remz1337<https://github.com/remz1337> any improvement on your side here?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/jankapunkt/latexcv/issues/9#issuecomment-419340464>, or mute the thread<https://git

[2018-09-10 13:02] youssefkaram commented on #10
Hello again!

Sorry for the late reply. As soon as I finish working on it I'll upload it, that way there would be another template based on yours!

I attached the main file but uploaded it as a txt file instead due to github restrictions.

I added a table below the bar chart

Couldn't really figure out how to add the text in the center of the piechart. I'm kinda of a beginner on LaTeX. Trying my b

[2018-09-28 21:34] michael-brade commented on #9
Just came across this. The solution is rather easy:
[code]
The default `\parbox` command aligns its center to the baseline, but you really want the top in this case. "Experience" has a depth due to the "p", the other words don't. That is why there was the difference.

[2018-09-29 06:42] jankapunkt commented on #9
Thanks a lot @micheal-brade !

If anyone is interested in creating a PR, I will favor this before updating myself (good first PR).

Nevertheless, if no PR is coming in I will check this out and add it within the next week.

Will keep you updated.

[2018-11-02 04:30] Gunner62 opened #12 "\hyperref links do not work with sidebar cv template"
Hi Jan, really appreciate the work you do with the templates. I have been trying to add links to the sidebar using the \hyperref package but it seems like the links do not work when I put them into \icontext. My code block looks like:
\icontext{Icon}{12}{\href{link}{description}}{white}
I also included the hyperref package as the last package like it recommends. Do you have any ideas on how to fix

[2018-11-02 10:00] jankapunkt commented on #12
The command `\icontext` is just a custom command, which is defined in [line 281](https://github.com/jankapunkt/latexcv/blob/master/sidebar/main.tex#L281) and breaks down to the following code:

[code]

Here you can try to wrap hyperlinks around parameters `#3` and `#4` in the part `\vcenteredhbox{\textcolor{#4}{#3}}` or extend this command with a new parameter `#5`.

If you got it running you can

[2018-11-02 19:04] Gunner62 commented on #12
Hey Jan, I figured out how to make it work:
First make sure the package
[code]
is the final package being included

Then I wrote some new commands for email and urls shown below:
[code]

It is also possible to just write the links wherever text could normally be.
I'll try to make a pull request soon when I figure out how it works, I haven't made one before

[2018-11-03 10:35] jankapunkt commented on #12
merged vi #13

[2018-11-03 10:35] #12 closed

[2019-01-18 08:47] jankapunkt opened #18 "Features / ideas for more CV templates / next version"
So I am about to create some more CV templates and I'd like you to share some ideas, wishes, requirements and so on.

The only restriction is, that we won't copy / mime existing templates. However, inspirational input from existing templates (written or not written in LaTeX) is greatly appreciated.

[2019-03-10 07:43] xuanyuanaosheng opened #19 "Please add chinese language support"

[2019-03-10 08:16] jankapunkt commented on #19
Hi, thank you for your interest in this package. I am not familiar with supporting other languages yet. Do you know a LaTeX project on GitHub that successfully supports multiple languages? If so, could you please add a link to it, so I can check on it?

@community if anyone has already experience with encoding to support multiple languages feel free toeave a PR

[2019-03-10 08:38] jankapunkt commented on #19
@xuanyuanaosheng I forgot to mention that you may also add a description of how the current templates do not support Chinese language. Does the compilation throw any errors or is the generated document layout broken?

[2019-03-10 08:45] xuanyuanaosheng commented on #19
@jankapunkt
 I have found a Project on Github:  https://github.com/billryan/resume/tree/zh_CN.

The ShareLaTeX address is https://www.sharelatex.com/templates/556b27cf0d23e5a8117053d9

[2019-03-10 09:22] jankapunkt commented on #19
@xuanyuanaosheng I checked the project [but it requires xelatex](https://github.com/billryan/resume/blob/zh_CN/resume-zh_CN.tex#L1), which is an anit-requirement of this package (I created this package with the intention of compiling all templates without the need to install xetex or luatex or koma script.

However, I found a tex.stackexchange discussion with [an answer that also shows a pdflatex-

[2019-03-10 10:15] jankapunkt commented on #19
@xuanyuanaosheng  I found a potential solution and I will create a new branch for it. Once the branch is there I'd like you to check it out and test, if it all compiles for you.

[2019-03-10 10:21] xuanyuanaosheng commented on #19
@jankapunkt I also find  some solutions on google, the links：
https://www.overleaf.com/learn/latex/Chinese
https://jdhao.github.io/2018/03/29/latex-chinese.zh/

But a good way to support different country' language is using xelatex.

[2019-03-10 10:22] xuanyuanaosheng commented on #19
@jankapunkt  OK. I will check it out and test it.  Thanks.

[2019-03-10 13:26] jankapunkt commented on #19
Can you please checkout the new cjk branch: https://github.com/jankapunkt/latexcv/tree/cjk

Configuration of the cjk environment should be really easy (two additional lines of code in the template files). The setup is documented here: https://github.com/jankapunkt/latexcv/blob/cjk/cjk/README.md

If there are any errors please post them here. If characters are missing or not correctly displayed ple

[2019-03-12 09:56] jankapunkt commented on #19
@xuanyuanaosheng any success with the setup?

[2019-03-14 13:02] jankapunkt commented on #19
I merged the PR #20 so this is now on master branch. Please leave an issue if there is anything preventing you from compiling using CJK.

[2019-03-14 13:02] #19 closed

[2019-04-13 12:32] xuanyuanaosheng commented on #19
@jankapunkt  Sorry to reply so late.  I  have tested it on ubuntu 18.04 follow your guide, it  has worked.   Thanks !

[2019-08-23 12:06] #10 closed

[2019-08-27 13:31] CsatiZoltan commented on #18
It would help me if you included a template tailored to scientific use: list of publications.

[2019-08-27 19:53] jankapunkt commented on #18
Hi @CsatiZoltan thank you for the input. Basically you can modify any of the templates to add another section than "educaion" and "experience". But yeah, I could add another template that would focus more on scientific work, where layout is more structured to fit typical milestones of a scientific career path: Publications, Conferences, Institutes, Memberships etc. What do you think about that?

[2019-08-28 12:49] CsatiZoltan commented on #18
That would be perfect, I didn't dare to ask it.  :)

This is how I imagine.
1. Header: name in larger font size, current position, title (e.g. PhD student, associate professor, etc.), address, institutional e-mail, phone number, optionally personal webpage, optionally a photo on the right as you did in the *Modern* template.
2. Education: the structuring in the *Classic* or the *Modern* templates

[2019-08-28 13:30] jankapunkt commented on #18
Thank you, this is a nice description and I will consider it for the new template. I would add you as reviewer, once the PR is opened.

[2019-08-28 13:49] CsatiZoltan commented on #18
@jankapunkt Yes, perfect.

[2019-09-02 20:00] phlndrwd opened #22 "CV Timeline"
Thank you for these CV templates! They are very creative.

I am interested in the infographics template. Am I correct in saying that the timeline does not appear to display all of the parameters that are input to a `cvevent`? When I rebuild your example TEX file, the PDF appears just like yours, but the comments in the timeline file seem to suggest there may be features missing from the rendered r

[2019-09-05 14:44] jankapunkt commented on #22
Thank you @phlndrwd for this issue. I think this has already been mentioned before and I will check it out when there is some time left and corect the documentation or fix it, if it's a bug.

If someone else wants to open a PR for this, they are very welcome!

[2019-09-05 17:25] jankapunkt opened #23 "Scientific Template"
one of the ideas from the ideas thread #18 which is mainly described here: https://github.com/jankapunkt/latexcv/issues/18#issuecomment-525730139

[code]

[2019-10-01 11:13] CsatiZoltan opened #24 "Centering item labels with text"
`\cvevent` uses *\cdot* to enlist items. This has the drawback that it is not positioned at the center of a capital letter. Maybe using the *itemize* environment would help (*\cdot* could be simulated by decreasing the size of the bullet). Alternatively, the height of the *\cdot* could be raised.

[2019-10-13 09:51] jankapunkt commented on #24
Hi @CsatiZoltan which template you are referring to? I am usually using a `tabular*` in the `cvevent` command, so I am not sure where a `cdot` is in use there. Can you please show me the line?

The only `cdot` I am using is in the footers and headers to separate the horizontal content. Is this what you are referring to?

[2019-10-13 10:29] CsatiZoltan commented on #24
@jankapunkt Sure, for instance [this line](https://github.com/jankapunkt/latexcv/blob/ba351ac3b25d0aca6680e4fee5b82100b2cf4a8d/classic/main.tex#L253) and the next one in the classic template.

[2019-10-13 11:22] jankapunkt commented on #24
@CsatiZoltan I see, this template was one of the first ones, I have created. If you want to change it to using `itemize`, feel free to open a PR but please try to keep the layout simple and on one page. I will have the next days some time for review.

[2019-11-07 08:43] jankapunkt commented on #24
@CsatiZoltan just a friendly ping. Are you interested in providing a PR?

[2019-11-07 09:20] CsatiZoltan commented on #24
Sorry for the long delay, I was/am very busy these days. I would like to implement this but I have no free time, so I would say I cannot provide a PR. At least not in the near future.

[2020-01-03 19:30] guillaumedsde commented on #4
Bumping this issue, I would be very interested in having a small paragraph below the a timeline entry as well as the institution.

For reference I have [implemented an "ugly" version of this here](https://gitlab.com/guillaumedsde/curriculum-vitae/blob/8607e45548b611c1f6fb51da38bf297a31c4d41c/timeline.tex#L71). This works OK-ish as long as the institution name is not too long and the text below the

[2020-01-07 02:58] IbrahimTanyalcin opened #26 "Careful your .travis.yml has a TROJAN"
I got a report from my antivirus software that the .travis.yml had HEUR:Trojan-Downloader.Shell.Agent.p . It might be a false positive so please double check it, if correct please upload a clean version including your own Git folder for the safety of others.

[2020-01-07 08:16] jankapunkt commented on #26
Hi @IbrahimTanyalcin this is potentially a false positive. Let me explain the [`.travis.yml`file](https://github.com/jankapunkt/latexcv/blob/master/.travis.yml):

[code]

I will add a wiki entry in case other get this error message, too. If you still sceptical, you can set up a VM and execute everything by hand and record the traffic etc.

[2020-01-07 08:17] #26 closed

[2020-01-07 08:32] jankapunkt commented on #26
@IbrahimTanyalcin I created a PR with better comments on the travis file, please see https://github.com/jankapunkt/latexcv/pull/27 and comment, if you think there is still something problematic.

I also created a Wiki entry: https://github.com/jankapunkt/latexcv/wiki/Antivirus-reports-malicious-behavior

Feel free to update, if there is anything incomplete or confusing.

[2020-01-07 09:47] IbrahimTanyalcin commented on #26
No, no I thought it might be a false positive, there was nothing weird inside the yml. Great comments btw, you can close the issue if you like. Thank you for the time you spent!

[2020-01-29 21:00] Jonty16117 opened #28 "Feature suggestion: Environment Variables"
I think it would be cool to add a type of b/w and a colour version for each available template. It would be very helpful for printing the resumes.

[2020-02-09 11:41] jankapunkt commented on #28
Hi @Jonty16117 you can actually set in each template the colors. Just check out the code, there is in each template a section where all the used colors are defined. If you want a black white version you just need to tweak the colors with some harmonizing greyscale values.

However, there maybe an option to use colors based on some compiler flags. Now I have not investigated into the pdflatex compi

[2020-02-09 11:45] Jonty16117 commented on #28
`--greyscale` flag seems like a good solution to me. 💯

[2020-03-05 10:33] jankapunkt commented on #28
I found a solution using environment variables, however it complicates the scripts unnecessarily if we integrate the code for this in every template. I'd rather provide this feature as an entirely optional script to include in combination with a short example in a wiki entry. What do you think?

[2020-03-05 11:34] jankapunkt commented on #28
Please check on the PR #29 (I added you to the collaborators) and create a review using the gh review function.

[2020-04-19 09:13] olimanger commented on #18
Moin @jankapunkt , more than awesome artwork in the existing versions of your templates.
Using them, I came across the following hurdles/missing features:
1. a flexible number of sub-points in the \cv_event, most preferably with something like
`%----------------------------------------------------------------------------------------
%	 CV SUBEVENT
%-------------------------------------------------

[2020-05-12 21:31] Sophalsun888 opened #30 "Classic : more lines for experience section"
Hello M Jan Küster
Thank you for this wonderful job.

About the classic resume, how can I add more lines under an experience , it seems to be limited at 2 lines !!

Thanks a lot for your help

Sophal SUN

[2020-05-13 07:44] jankapunkt commented on #30
Hi @Sophalsun888 thank you,

the makro `\cvevent` is limited to two lines *in it's current definition* but that does not prevent you from extending it:

[code]

as you can see the last two parameters `#4` and `#5` represent these two lines. If you want more than two lines, you would have to extend the max. args from `[5]` to `[6]` and add another parameter:

[code]

Now here is the thing: You can

[2020-05-13 07:44] #30 closed

[2020-05-13 07:48] jankapunkt commented on #30
Wiki entry added at: https://github.com/jankapunkt/latexcv/wiki/Extending-cvevent-Macro

[2020-05-13 08:26] olimanger commented on #30
Alternatively, you could add a flexible number of arguments with the "shopping list"-idea to the macro like that:

`\makeatletter
\newcommand{\cvsubevent}[1]{$\cdot$  #1 \\[3pt] \checknextarg}
\newcommand{\checknextarg}{\@ifnextchar\bgroup{\gobblenextarg}{ }}
\newcommand{\gobblenextarg}[1]{$\cdot$ #1 \\[3pt]\@ifnextchar\bgroup{\gobblenextarg}{ }}
`

and call this macro by
`\cvsubevent{the one and

[2020-05-13 20:22] Sophalsun888 commented on #30
dear Jan ,

thanks a lot for your answer , I really appreciate .

you help me a lot

best regards

Sophal SUN

Le mer. 13 mai 2020 à 09:45, Jan Küster <notifications@github.com> a écrit :

[2020-06-23 17:41] ElFanzo opened #31 "Typo in the sidebar template"
The typo is in a footer "licensed **unter** MIT license".

[2020-06-23 17:43] olimanger commented on #31
Works fine in Franconia. ;-)

[2020-06-23 17:48] ElFanzo commented on #31
@olimanger, There's no doubt :)

[2020-07-20 22:18] jorgecastillo2 opened #32 "miktex-makepk did not succeed."
When I compile, change credentials, etc, I get the following error message:

**Sorry, but miktex-makepk did not succeed. The log file hopefully contains the information to get MiKTeX going again: C:\Users\aleph\AppData\Local\MiKTeX\2.9\miktex\log\miktex-makepk.log**

the log file contains:

**2020-07-20 18:10:34,490-0400 INFO  miktex-makepk - starting with command line: miktex-makepk --enable-inst

[2020-07-21 06:56] jankapunkt commented on #32
Read the message carefully there is a part ` Terminate process due to access violation`. I am no Windows pro so maybe someone can put a light on this?

[2020-08-21 19:39] cj-wx91 opened #33 "Clarification of license conditions"
Hi,

thanks for the great-looking templates.
The attached MIT license says

"The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software."

Would that mean that the copyright also has to be included in the final generated PDF?

[2020-08-26 16:24] jankapunkt commented on #33
@cj-wx91 does it answer your question? If so, please close the issue, otherwise feel free to ask anything.

[2020-08-26 16:35] #33 closed

[2020-08-31 12:29] jankapunkt commented on #32
Hey  @jorgecastillo2 did you resolve the issue? If so, please close it, otherwise please add more information for reproduction so we can find a solution.

[2020-09-13 12:32] setegonz opened #34 "How to remove footer from sidebar template"
Hi Jan, thanks for your wonderful work. I would like to know how I can remove the footer from the sidebar template. I commented on the code that generates the footer but then the white space at the end of the page is too big. How could I reduce that white space?

[2020-09-13 17:12] jankapunkt commented on #34
Hi @setegonz which of the sidebar templates (left or right)?

[2020-09-13 20:13] setegonz commented on #34
@jankapunkt right.

[2020-09-30 15:37] jankapunkt commented on #34
Hey @setegonz sorry for the late reply, it is due to the minipages height being fixed. The main part and the sidebar are wrapped in minipage environments and their height is set to `0.95\textheight`, see these two lines:

https://github.com/jankapunkt/latexcv/blob/master/sidebar/main.tex#L311
https://github.com/jankapunkt/latexcv/blob/master/sidebar/main.tex#L421

You should be able to play with t

[2020-10-13 12:58] setegonz commented on #34
@jankapunkt Thank you very much for making this resource available!

[2020-10-13 13:21] jankapunkt commented on #34
@setegonz did it help?

[2020-10-13 13:21] jankapunkt commented on #34
@setegonz did it help?

[2020-10-22 10:09] mjnajafi opened #35 "How to create extra page"
it's my pleasure to use your CV classic template.
I have a question about latex programming.
when I replace my text on the template, the lines go under the page and some parts will be disappeared.
How can I go to another page and continue the previous part?

Thank you in advance for your guidance.
M. Javad

[2020-12-30 09:57] jankapunkt commented on #35
Hi @mjnajafi sorry for late response. Which template excactly? Most of them are 1-page templates. They were not designed with multipage in mind. However we can make that work on some of them.

[2020-12-30 10:23] mjnajafi commented on #35
I mean Sidebar template.
I would be than happy to let me know how to use it in multipage.

[2020-12-30 10:39] jankapunkt commented on #35
You can actually check the `sidebarleft` template which is already multipage. If it doesn't work please comment with what exactly doesn't work and we may find a solution that can work for everyone.

If you make it work it would be great to open a PR so all can benefit from it :-)

[2020-12-30 10:54] jankapunkt commented on #34
@setegonz friendly ping

[2021-01-05 14:21] setegonz commented on #34
@jankapunkt It works! Thanks.

[2021-01-05 14:21] #34 closed

[2021-01-21 08:48] jankapunkt commented on #35
@mjnajafi did it help to take a look at `sidebarleft`?

[2021-01-21 12:36] mjnajafi commented on #35
well, sidebarleft works correctly. But I want to use the sidebar template.
I was trying to use \newpage command but it did not work.
I was wondering if you could convert the sidebar template into two pages.

appreciate the time you take

[2021-04-05 17:09] theharshwardhan opened #36 "! LaTeX Error: File `xifthen.sty' not found."
Can't locate the above file.

[2021-04-05 17:58] jankapunkt commented on #36
Hi @theharshwardhan can you please provide more context? Which Template did you use? Which OS and LaTeX distribution? What commands did you run?

[2021-04-06 04:03] theharshwardhan commented on #36
I was using the "modern" template and tried to compile it using TeX 3.14159265 (TeX Live 2019/Debian). My OS is Ubuntu 20.04.

[code]

[2021-04-06 07:58] jankapunkt commented on #36
Hey @theharshwardhan  I used `synaptic` to use through my packages and found, that `xifthen` is part of `texlive-latex-extra`. Can you check, if you have this package installed? It should be available on Debian, too and be installable via the package manager.

[2021-04-06 09:10] theharshwardhan commented on #36
Got it. Fixed the issue.

[2021-04-06 09:18] jankapunkt commented on #36
Great to hear it! I will add a Wiki entry in order to make it easier for others in the future to instantly solve this issue.

[2021-04-06 09:18] #36 closed

[2021-04-13 06:11] jankapunkt commented on #32
@jorgecastillo2 I am closing this question due to silence. Feel free to reopen if this issue persists or you think it should be reopened

[2021-04-13 06:13] #32 closed

[2021-04-13 06:18] jankapunkt commented on #31
Fixed and merged into master :-D

[2021-04-13 06:18] #31 closed

[2021-04-13 06:20] jankapunkt commented on #28
Will drop this for now, since it makes things just more complicated

[2021-04-13 06:20] #28 closed

[2021-04-13 06:20] jankapunkt commented on #28
@Jonty16117 feel free to reopen and discuss a potential solution

[2021-04-13 06:22] jankapunkt commented on #35
@mjnajafi I was referring to the sidebar-left code, because it shows you how to implement it for multipages. Simply adding newlines will break the layout, which is why it uses several environments to fulfill this need. I will make a wiki entry for it.

[2021-04-13 06:22] Jonty16117 commented on #28
Sure...thanks😊

[2021-04-13 06:30] jankapunkt commented on #35
Please take a look at the [wiki](https://github.com/jankapunkt/latexcv/wiki) :-)

[2021-04-13 06:30] #35 closed

[2021-04-14 19:41] biswajitSM opened #38 "add a web link"
I am making a CV with the "rows" template and I would like to add a link to the "Check out my opensource project at", but have been unsuccessful so far.
I modified the corresponding line as this
[code]
But it doesn't work.
Does anybody know how to add a link?

Thanks

[2021-04-14 19:47] biswajitSM commented on #38
I realized there is already an issue that solved the linking issue!
https://github.com/jankapunkt/latexcv/issues/12

[2021-04-14 19:47] #38 closed

[2021-05-23 12:10] kiteloopdesign opened #39 "More info on installation/packages needed"
Documentation says

I installed both the "small" and "medium scheme" from texlive 2021 installer, but in both cases I am missing some packages needed to build the mordern CV.

[code]
The pdf is produced but it does not look completely like the original.

Maybe we can make use of that profile to pass it on to the installation process? Not sure how to do it, though, I will investigate

[2021-05-23 13:49] SiliconKite commented on #39
Ok, so you pass on the profile included on this repo by running the installer with this option

`sudo ./install-tl -profile=./texlive.profile`

The instalation takes (!) 5GB (and my root partition ran out of space)

So, no, it does not look like you need a *minimal* latex instalation. By the way, this is why I am as of lately disgusting latex. It is completely crazy that you need to install such a

[2021-05-23 15:19] SiliconKite commented on #39
Can't get this to work. I give up. Its a shame we have a latex like this in 2021. They are losing users like crazy. Leaving here what I did in case it helps someone

latex has a package manager. Tried to find hte missing package
`tlmgr install texlive-latex-extra`

ok, so I will try to use the Fedora's latex.
`sudo dnf install texlive`

pdf still not building properly. Let;s install some additiona

[2021-05-23 16:43] jankapunkt commented on #39
Hey @SiliconKite I'm sorry to hear that it became so complicated. The installation procedure was documented in 2014 and it seems that it is not up to date anymore.

Give me some time to set up a vm to play around a bit to update the installation.

I never used any manager from TexLive but always used synaptic to directly search for the deb package that contained the specific LaTex packages.

Note,

[2021-05-24 07:36] SiliconKite commented on #39
I think the confussion comes from the *You will need some minimal Texlive distrubution* wording, when the full texlive installation is needed. It is 6.1GB. This is just crazy. Anyway, got it working now. Thanks

[2021-06-22 14:39] jankapunkt opened #40 "Move CI to GitHub actions"
Good first issue

[2021-07-23 15:43] elsamanirais opened #41 "Cv"

[2021-07-23 15:59] jankapunkt commented on #41
?

[2021-07-23 17:24] #41 closed

[2021-08-21 16:07] aradnix opened #42 "Suggested fonts for the Infographics CV"
Hi, I'm trying to use your template in Overleaf and found that some of the suggested fonts don't allow you to place small caps text correctly so it falls back to the default font and it looks awful.

I was looking for options on the [LaTeX Font Catalogue](https://tug.org/FontCatalogue/sansseriffonts.html) website and found these sans-serif fonts that look great with this template.

[code]

[2021-08-21 16:15] aradnix opened #43 "Suggestion for adapting your template to other paper sizes"
Hi!

I would like to know how to adapt your Infographics CV template to other paper sizes beyond A4, specifically I would like to be able to format it to letterpaper size without the content being displayed on 2 pages where on the first one there is only the table of personal data.

I have reviewed the code of your template and it is in general terms very well documented and organized, I congratul

[2021-08-21 16:38] aradnix opened #44 "A better way, perhaps? to use FontAwesome"
Once again me with the topic of your Infographics CV template. I saw that you use some FontAwesome icons in svg within the template. However, I find it better to make use of the packages that already exist for LaTeX that allow you to include FontAwesome icons.

Because the engine in your templates usually is `pdflatex`, I suggest using the [fontawesome5](https://ctan.org/pkg/fontawesome5) package.

[2021-08-21 18:12] jankapunkt commented on #42
If you want you can Open a pr to add them, please keep all but the used font commented

[2021-08-21 18:15] jankapunkt commented on #43
I am Not 100% into tikz right now but I think most length is relative to the parent container size. Most of the dimensions is defined by the boxes and the minipage environment. Maybe try them first before going into tikz.

[2021-08-21 18:17] jankapunkt commented on #44
I have to investigate on fontawesome. At the time I wrote the infographics cv the latex package for it was not available but now it may be different.

[2021-08-22 19:54] pkail opened #45 "Compile errors"

[2021-08-22 20:20] #45 closed

[2021-08-24 16:45] aradnix commented on #43
Thank you for your words, I will try to do what you suggest.

[2021-09-08 00:34] Anton2320 opened #47 "Doesn't produce usable files on miktex-xelatex"
I tried running the sidebarleft CV through miktex-xelatex, but all I get is a file that I can't open in Google Chrome or in Sumatra PDF, so I assume it's broken.

[main.pdf](https://github.com/jankapunkt/latexcv/files/7124923/main.pdf)

[2021-09-08 00:39] Anton2320 commented on #47
Here is the output log

`This is XeTeX, Version 3.141592653-2.6-0.999993 (MiKTeX 21.8) (preloaded format=xelatex 2021.9.8)  8 SEP 2021 03:37
entering extended mode
**./main.tex
(main.tex
LaTeX2e <2021-06-01> patch level 1
L3 programming layer <2021-08-27>
(C:\Programming\MiKTeX\tex/latex/base\article.cls
Document Class: article 2021/02/12 v1.4n Standard LaTeX document class
(C:\Programming\MiKTeX\

[2021-09-08 06:48] jankapunkt commented on #47
@Anton2320 interesting. Did you make sure you installed all required packages? From the log I can see that Raleway and Fontawesome are missing somehow?

[2021-09-08 08:53] Anton2320 commented on #47
@jankapunkt strange enough, I had to install them manually and it worked, although usually MikTeX pulls those packages automatically, like it did with other packages in the project, and I was sure that it pulled in the fontawesome package.

[2021-09-08 09:13] jankapunkt commented on #47
I'm glad it worked out. Please close of the issue is resolved or reopen if the issue persists.

[2021-09-08 17:04] Anton2320 commented on #47
Alright, had same thing happen on other PC with a MikTeX, so it's probably reproducible. Would this bug then be a responsibility of MikTeX maintainers?

[2021-09-08 17:04] #47 closed

[2021-09-10 16:00] LonYui opened #48 "installing TeX live package Enconuter error"
run $ install-tl --profile=<loaction>
meet error message. The profile references a non-existing collection

[2021-09-10 18:22] jankapunkt commented on #48
Can you please complete post a reproducible example that raises the error? Including which operating system you used and how you installed texlive

[2021-09-10 19:26] d5269357812 commented on #48
### desc
I follow the quick start. install the BasicTeX clone the project . then enconuter an error when installing TeX live package with .profile in the project.

env:
- MacOs 14
- BasicTeX

### reproduce step:
[code]

### error message

The profile references a non-existing collection: collection-pictures

![螢幕快照 2021-09-11 上午3 21 13](https://user-images.githubusercontent.com/9551862/132906517-7

[2021-09-10 20:10] jankapunkt commented on #48
You can try to install without the profile file but it will install all packages. Maybe a package is not available anymore? I currently have no MacOSX available to reproduce but I can check this out with miktex on Windows.

[2021-09-11 10:29] jankapunkt commented on #4
@bhattaomatic  @guillaumedsde this is now implemented in imfographics 2, see  #46

I will close this. feel free to reopen if this not a valid solution

[2021-09-11 10:29] #4 closed

[2021-09-11 10:30] jankapunkt commented on #8
@sebastian-raubach @slevin18  this is now implemented in imfographics 2, see #46

I will close this. feel free to reopen if this not a valid solution

[2021-09-11 10:30] #8 closed

[2021-09-11 10:30] jankapunkt commented on #22
this is now implemented in imfographics 2, see #46

I will close this. feel free to reopen if this not a valid solution

[2021-09-11 10:30] #22 closed

[2021-09-11 10:30] #18 closed

[2021-09-11 10:31] jankapunkt commented on #43
did you resolve this?

[2021-11-12 12:24] Amir-Ahmad commented on #39
In case anyone comes across this project and is using Nix package manager, I've got a ~0.4GB install that I've put in my overlay.

[code]

[2021-11-12 12:52] jankapunkt commented on #39
@Amir-Ahmad thank you for this. Is it safe to replace the texlive file with these:

[code]

[2021-11-12 13:10] jankapunkt commented on #39
Related PR is ongoing until this is resolved: https://github.com/jankapunkt/latexcv/pull/49

[2021-11-13 04:18] Amir-Ahmad commented on #39
@jankapunkt that list was working for the theme sidebar, but I just tested on modern and it's not working (there are additional dependencies required).

As for the replacing the texlive, I'm new to TexLive and Latex, so I'm not qualified to comment on that, sorry.

[2021-11-13 09:04] jankapunkt commented on #39
@Amir-Ahmad mo worries, I am currently finding out a way to detect the packages that are used and then generate script from it. I first need to get `tlmgr` (texlive manager) get running with sudo then we can have a `schema-basic` plus these packages to have the very minimal build as desired.

See the #49  PR for ongoing progress

[2021-12-02 08:43] Lukas2112 opened #50 "Markdown file for the templates"
Could you perhaps attach a sample markdown file to the templates so that the template could also be used via pandoc, @jankapunkt ?

[2021-12-02 08:47] jankapunkt commented on #50
Hib@Lukas2112 can you provide me a link or something with specifications on the markdown file, what should be included there etc.?

[2021-12-02 08:49] Lukas2112 commented on #50
Examples of how Markdown files for LaTex templates to be used via pandoc could be viewed here:https://github.com/Wandmalfarbe/pandoc-latex-template/tree/master/examples

[2021-12-02 08:51] Lukas2112 commented on #50
I hope it might help you.

[2021-12-02 09:10] Lukas2112 commented on #44
Instead of Fontawesome, the theme could be used Fork Awesome? https://forkaweso.me/Fork-Awesome/

[2021-12-02 09:50] jankapunkt commented on #44
@Lukas2112 this is nice, however if I understand correctly, then we need a LaTeX package that wraps it

[2021-12-07 06:51] Lukas2112 commented on #50
Did it help you to use my link to examples of what a Markdown file might look like?

[2021-12-10 10:42] jankapunkt commented on #50
It helped me a bot but I am not sure if I can validly add them in a way pandoc will be able to read them. Do you mind providing a PR for the classic cv which you tested and found to work with pandoc?

[2021-12-27 08:36] hiDaDeng opened #51 "could latexcv support chinese string"

[2021-12-27 09:50] jankapunkt commented on #51
There is a wiki entry in the repository on how to setup Chinese character encoding. Does this help?

[2021-12-29 11:14] hiDaDeng commented on #51
Got it! Thanks very much!!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jan ***@***.***&gt;;
发送时间: 2021年12月27日(星期一) 下午5:50
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [jankapunkt/latexcv] could latexcv support chinese string (Issue #51)

There is a wiki entry in the repository on how to setup Chinese character encoding. Does this help?

—
Reply to this email

[2022-01-03 09:06] #51 closed

[2022-01-03 10:53] jankapunkt commented on #50
@Lukas2112 still interested in providing a short proof of concept PR?

[2022-01-03 10:54] jankapunkt commented on #43
closing this due to no activity, feel free to reopen if the issue persists or if you have more questions regarding this

[2022-01-03 10:54] #43 closed

[2022-01-24 09:29] jo-jstrm opened #52 "White line in name-header"
First of all, thanskbs for prvoding such a well documented template! It was really easy to customize thanks to your documentations.

## Problem
My CV is based on your 'sidebar' template. I aligned the header box containing my name with the sidebar's top.
[code]
However, this leads to a white bar showing in the middle of the header bar.
![grafik](https://user-images.githubusercontent.com/17967115/1

[2022-01-25 11:03] jankapunkt commented on #52
This is very likely to be the border of some other box maybe? The whole `vspace` is very problematic and destroys layout quickly when boxes change.

Does it remove the line when you add the RESUME headline?

[code]

[2022-01-25 14:14] jo-jstrm commented on #52
Thanks for your reply. Unfortunately, adding the RESUME headline did not make the white line disappear.

However, I solved it:
- Change height of both minipages to 0.98: `\fcolorbox{white}{white}{\begin{minipage}[c][0.98\textheight][t]{0.69\linewidth}`.
- Now `\vspace{-3pt}` suffices for alignment, probably without moving out of bounds of a box
- I think the white line was the box of the left mini

[2022-01-25 14:14] #52 closed

[2022-04-30 05:22] jankapunkt opened #54 "Feature: Multiple paragraphs for CVEvent"
the `\cvevent` command can use multiple paragraphs, as already implemented in `sidebar`, see this PR: https://github.com/jankapunkt/latexcv/pull/53

However, the other templates still don't have this feature. PRs welcomed :-)

[2022-04-30 05:22] jankapunkt commented on #48
Related: #49

[2022-08-17 18:17] jacksongazin2022 opened #56 "Question about Modern CV"
How would you make a new type of CV event so so there would be three bullet points instead of one?
Right now I have \newcommand{\cveventt}[5]
{
\vspace{8pt}
	\begin{tabular*}{0.6\linewidth}{ p{12cm} x{3cm}}
\textbf{#2} \textcolor{bgcol}{(#3)}&\textcolor{bgcol}{#1}\\[4pt]
	\end{tabular*}
\vspace{-12pt}
\textcolor{softcol}{\hrule}
\vspace{6pt}
	\begin{tabular*}{1\textwidth}{l}
		 \larrow{sectcol}  #

[2022-08-18 07:22] jankapunkt commented on #56
Hey @jacksongazin2022 there has been a pull request, that added variable bullets to cvevents in the classic cv: https://github.com/jankapunkt/latexcv/pull/37

Maybe this helps you further?

[2022-10-17 19:35] miswaryousuf commented on #23
is it necessary to be a single page cv?

I have a been working on a scientific cv

[2022-10-17 19:38] miswaryousuf commented on #23
I don't think Scientific CVs can be done on a single page as the projects and publications can go on for a long list

[2022-10-17 20:46] jankapunkt commented on #23
Hi @miswaryousuf no worries the sidebar-left template is also multipage. I rather have the requirement, that it's all one self-contained `majn.tex` file and that you comment the content well, the formatting is well and it's all understandable for beginners.

Feel free to open a draft pull request in case you are yet unsure and expect many changes. I can support you with reviews. However, please do